alembic==1.0.10
cffi
Click
Flask
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
itsdangerous
Jinja2
Mako
MarkupSafe
Pillow
pycparser
python-dateutil
python-dotenv
python-editor
six
SQLAlchemy
Werkzeug
WTForms
email_va
gunicorn
